{% extends 'users/usercenter.html' %}
{% load staticfiles %}
{% block title %}我的收藏- 在线学习网{% endblock %}

{% block custom_crumbs %}
<!--crumbs start-->
    <section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li><a href="{% url 'users:home' %}">个人中心</a>></li>
                <li>我的收藏</li>
            </ul>
        </div>
    </section>
{% endblock %}
{% block content %}
<section>
	<div class="wp list personal_list">
	<div class="left">
        <ul>
            <li ><a href="{% url 'users:home' %}">个人资料</a></li>
            <li ><a href="{% url 'users:course' %}">我的课程</a></li>
            <li class="active2"><a href="{% url 'users:favcourse' %}">我的收藏</a></li>
            <li >
                <a href="{% url 'users:message' %}" style="position: relative;">
                    我的消息
                </a>
            </li>
        </ul>
	</div>
    <div class="right" >
            <div class="personal_des Releasecont">
                <div class="head">
                    <h1>我的收藏</h1>
                </div>

            </div>
            <div class="personal_des permessage">
                <div class="head">
                    <ul class="tab_header messagehead">
                        <li><a href="{% url 'users:favorg'  %}">课程机构</a> </li>
                        <li><a href="{% url 'users:favteacher' %}">授课教师 </a></li>
                        <li class="active"><a href="{% url 'users:favcourse' %}">公开课程</a></li>
                    </ul>
                </div>
                <div class="companycenter">
                    <div class="group_list brief">
                        {% for course in fav_courses %}
                        <div class="module1_5 box">
                            <a href="{% url 'courses:detail' course.id %}">
                                <img width="214" height="190" src="{{ MEDIA_URL }}{{ course.image }}"/>
                            </a>
                            <div class="des">
                                <a href="{% url 'courses:detail' course.id %}"><h2>{{ course.name }}</h2></a>
                                <span class="fl">时长：<i class="key">{{ course.learn_times }}分钟</i></span>
                                <span class="fr">学习人数：{{ course.get_students_cnt }}</span>
                            </div>
                            <div class="bottom">
                                <span class="fl">{{ course.course_org.name }}</span>
                                <span class="delete-group fr jsDeleteFav_course" data-favtype="course" data-favid="{{ course.id }}"></span>
                            </div>
                        </div>
                        {%  endfor %}
                    </div>
                </div>
            </div>
        </div>
	</div>
</section>
{% endblock %}
